*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
background-color: #FFFFFF;
display: flex;
justify-content: space-around;
margin: 0 auto;

}
nav ul{
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 32px;
   
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
.btn{
    width: 164px;
    height: 44px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: lightgreen;
}