* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

header nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 16px 120px;
    /* gap: 346; */

}

nav ul {
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 32px;

}

nav ul li a {
    text-decoration: none;
    color: black;

}

.btn {
    width: 164px;
    height: 44px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: lightgreen;
}

.logo img {
    width: 139px;
    height: 60px;
    padding: 10px 0px;
}

.bannerCont {
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.hero {
    width: 85%;
    max-width: 1360px;
    /* align-items: center; */
    text-align: center;



}

.bannerCont {
    text-align: center;
    padding: 115px 120px 180px 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.Btn {
    width: 229px;
    height: 35px;
    color: rgb(39, 109, 39);
    border: none;
    border-radius: 1000px;
    margin-bottom: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.first {
    color: rgba(255, 255, 255, 0.904);
}

.sec {
    color: #30B868;
}

.bannerCont p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;

}

.herobtn {
    width: 248px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: rgb(17, 104, 48);
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 16px 24px;
    gap: 20px;


}

.herobtn img {
    width: 18px;
    height: auto;
    /* margin-top: 4px; */
}

.herobtn2 {
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 16px 24px;
    gap: 15px;
    border: 2px solid white;

}

.heroBtn {
    display: flex;
    gap: 16px;
}

.noteHead {
    width: 85%;
    max-width: 1360px;
    margin: 0 120px 44px 120px;
    text-align: center;
}

.noteHead h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;

}

.noteHead p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.noteBox {
    width: 85%;
    max-width: 1360px;
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.noteCard {
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5%;
    padding-top: 32px;
}

.noteCard img {
    width: 60px;
    height: 60px;
    /* padding-top: 32px; */
    background-color: #F95555;
    border: none;
    border-radius: 50%;

}

.noteCard h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 16px 0px;
}

.brainCont {
    width: 85%;
    max-width: 1360px;
    margin: 120px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brainCont .image {
    width: 600px;
    height: 600px;

}

.brainSec {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: start;

}

.brainSec .solpara {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;

}

.brainSec h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}

.brainSec .solpara2 {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;

}

.brainSec h5 {
    font-size: 16px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    align-items: center;
}
.challengeCont{
    width: 85%;
    height: 350px;
    max-width: 1360px;
    margin:2px 120px 120px 120px;
    background-color: #F7F6F2;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.challHead{
    width: 1280px;
    height: 115px;
    padding: 80px 40px 24px 40px;
}
.challHead h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
   
    padding-bottom: 16px;
}
.challHead p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
   color: #627382;
}
.challbtn{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 16px;
    margin-top: 30px;
}

.challbtn .herobtn{
    margin: 80px auto 32px auto;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.249);

}
.challbtn p{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.footerCont{
    width: 100%;
    height: 350px;
    background-color: #001931;
}
.footHead{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 164px 120px 120px;
    display: flex;
    justify-content: space-between;
}
.footText{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.icons a img{
    margin: 0 5px;
    background-color: white;
}
hr{
    border: 0.5px solid #627382;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.footEnd{
    width: 85%;
    max-width: 1360px;
    margin: 16px auto 0 auto;
    text-align: center;
}
.footEnd p{
    font-size: 14px;
    color: #627382;
    margin-bottom: 40px;
}